label{
    display:block;
}
.mainCont {
    margin-right: 20px;
    margin-left : 100px;
    margin-bottom: 50px;
   
}
.inputFied {
    width: 100%;
    height: 30px;
    margin-top : 8px;
    margin-bottom :10px;
    font-size: larger;
}
.smallInput{
    height : 30px;
    width : auto;
    margin-top : 8px;
    margin-bottom :10px;
    margin-right: 10px;
    font-size: large;
}
.checkbox{
    height: 25px;
    width: 25px;
    margin-bottom :10px;
}
