.jarvis{
    height: 570px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    padding: 24px;
    margin-top: 50px;
}
.jarvis>div{
    /* border: 1px solid red; */
    height: 100%;
    width: 32%;
    text-align: center;
    cursor: pointer;
}
.jarvis img{
    width: 100%;
}
.jarvis h2{
    font-size: 20px;
}
.jarvis p{
    font-size: 14.5px;
}
.jarvis p+p {
    text-decoration: underline;
    color: rgb(0, 57, 83);
    font-weight: 700;
    font-size: 15px;
    margin-top: -10px;
}
.jarvis>div:hover  p+p{
    color: #1183d6;
}