.footerBox a {
  text-decoration: none;
  color: #fff;
}
.footerBox{
    background-color: rgb(0,57,83);
}
.footerBox h2{
    font-size: 18px;
}
.footerBox button{
    border: 2px solid #fff;
    background-color: inherit;
    color: #fff;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
}